<div class="container-fluid nav-container">
    <div class="row">
        <div class="col-0 col-sm-0 col-md-1"></div>
        <div class="col-12 col-sm-12 col-md-10 nav-links">

                <%= render "shared/logo-navbar" %>

                <div class="nav-links-right">
                    <%= button_to "Profile", profile_path(current_user), method: :get, class: "nav-btn" %>
                    <%= button_to "Birds", birds_path, method: :get, class: "nav-btn" %>
                    <%= button_to "New\nspot", new_user_spot_path(current_user), method: :get, class: "spot-btn" %>
                    <%= button_to "Settings", edit_user_registration_path, method: :get, class: "nav-btn" %>
                    <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "nav-btn" %>
                </div>

        </div>
        <div class="col-0 col-sm-0 col-md-1"></div>
    </div>
</div>
