      <div class="nav-birds">

        <%= render "shared/logo-navbar" %>

        <div class="nav-links">
          <%= button_to "Birds", birds_path, method: :get, class: "nav-btn" %>
          <%= button_to "Profile", profile_path(current_user), method: :get, class: "nav-btn" %>
          <%= button_to "New spot", new_user_spot_path(current_user), method: :get, class: "spot-btn" %>
          <%= button_to "Settings", edit_user_registration_path, method: :get, class: "nav-btn" %>
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "nav-btn" %>
        </div>

      </div>
