      <div class="profile-container">

        <div class="profile-content">

          <div class="profile-info">
            <h4><%= @user.username %></h4>
            <p>
              <%= @user.bio %>
            </p>

            <div class="profile-spots">
              <h6>Recent spots</h6>
              <ul>
                <% @recent_spots.each do |spot| %>
                  <li><%= spot.bird.name %> in <%= spot.location %></li>
                <% end %>
              </ul>
            </div>
          </div>

          <div class="profile-pic">
            <% if @user.avatar.attached? %>
              <%= cl_image_tag(@user.avatar.key) %>
            <% else %>
                <%= image_tag "avatar_default_grey.png" %>
            <% end %>
          </div>

        </div>

        <div class="centered">
          <%= button_to "View all spots", user_spots_path(@user), action: :get, class: "btn-submit btn-red btn-fill" %>
        </div>

      </div>
