<div class="white-container">

    <div class="profile-content">

        <div class="profile-pic">
            <% if @user.avatar.attached? %>
                <%= cl_image_tag(@user.avatar.key) %>
            <% else %>
                <%= image_tag "avatar_default.png" %>
            <% end %>
        </div>

        <div class="profile-info">
            <h4><%= @user.username %></h4>
            <p><%= @user.bio %></p>

            <h5>Most recent spots:</h5>
            <ul>
                <% @recent_spots.each do |spot| %>
                    <li><%= link_to "#{spot.bird.name} in #{spot.location} on #{spot.spot_date}", user_spot_path(@user, spot) %></li>
                <% end %>
            </ul>
        </div>

    </div>

    <div class="center-flex">
        <%= button_to "All\nspots", user_spots_path(@user), method: :get, class: "btn-bird spot-btn margin-sides-64px" %>
        <%= button_to "Life\nlist", life_list_path(@user), method: :get, class: "btn-bird spot-btn margin-sides-64px" %>
    </div>

</div>
