<div class="white-container">

    <div class="profile-content">

        <div class="profile-pic">
            <% if @user.avatar.attached? %>
                <%= cl_image_tag(@user.avatar.key) %>
            <% else %>
                <%= image_tag "avatar_default.png" %>
            <% end %>

            <% if @user != current_user %>
                <%= button_to 'send a message', new_direct_message_path, params: { receiver_id: @user.id }, method: :get, class: "btn-bird dm-btn btn-gold margin-top-40" %>
            <% else %>
                <%= button_to 'Messages', chats_path, method: :get, class: "btn-bird dm-btn btn-gold margin-top-40" %>
            <% end %>
        </div>

        <div class="profile-info">
            <h4><%= @user.username %></h4>
            <p><%= @user.bio %></p>

            <h5>Most recent spots:</h5>
            <ul>
                <% @recent_spots.each do |spot| %>
                    <li><%= link_to "#{spot.bird.name} in #{spot.location} on #{spot.spot_date}", user_spot_path(@user, spot) %></li>
                <% end %>
            </ul>
        </div>

    </div>

    <div class="profile-btn-container margin-bottom-16">
        <%= button_to "All\nspots", user_spots_path(@user), method: :get, class: "btn-bird spot-btn" %>
        <%= button_to "Life\nlist", life_list_path(@user), method: :get, class: "btn-bird spot-btn" %>
    </div>

</div>
