      <div class="daily-container">
        <span class="daily-title">
          Bird of the day
        </span>
        <div class="daily-img-container">
          <%= cl_image_tag(@bird.image.key) %>
          <br>
          <%= @bird.credit %>
        </div>
        <br><br><br>
        <h4><%= link_to @bird.name, bird_path(@bird.id) %></h4>
        <div class="daily-spots">
          <ul>
            <% @spots.each do |spot| %>
              <li>Spotted by <%= spot.user.username %> at <%= spot.spot_date %></li>
            <% end %>
          </ul>
        </div>
      </div>

