      <div class="daily-container">
        <div class="daily-info">
          <span class="daily-title">
            Bird of the day
          </span>
          <h4><%= link_to @bird.name, bird_path(@bird.id) %></h4>
          <h6><%= @bird.latin_name %></h6>
          <div class="daily-spots">
            <h5>Recent spots</h5>
            <ul>
              <% @spots.each do |spot| %>
                <li>
                  <%= link_to "#{spot.number} spotted in #{spot.location} on #{spot.spot_date}", user_spot_path(spot.user, spot) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="daily-img-container">
          <%= cl_image_tag(@bird.image.key) %>
          <p><%= @bird.credit %></p>
        </div>

      </div>

