<!DOCTYPE html>
<html>
  <head>
    <title>Birdspotting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <%= render 'shared/navbar' if user_signed_in? %>

    <div class="main-container">
      <%= yield %>
    </div>
<!--
    <p class="notice"><%#= notice %></p>
    <p class="alert"><%#= alert %></p>
 -->

    <div class="footer">
      <ul>
        <li>GET INVOLVED</li>
        <li>IMPRINT</li>
        <li>DATA POLICY</li>
      </ul>
    </div>

  </body>
</html>
