<!DOCTYPE html>
<html>
  <head>
    <title>Birdspotting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'map' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <%= render 'shared/navbar' if user_signed_in? %>

    <% if !user_signed_in? %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-0 col-sm-1 col-md-2"></div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="home-logo">
                        <%= render "shared/logo" %>
                    </div>
                </div>
                <div class="col-0 col-sm-5 col-md-7"></div>
            </div>
        </div>
    <% end %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-0 col-sm-1 col-md-2"></div>
            <div class="col-0 col-sm-10 col-md-8">
                <div class="home-border-container center-flex">
                    <%= yield %>
                </div>
            </div>
            <div class="col-0 col-sm-1 col-md-2"></div>
        </div>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <div class="footer center-flex">
      <ul>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">DATA POLICY</a></li>
        <li><a href="#">GET INVOLVED</a></li>
      </ul>
    </div>

    <%= javascript_pack_tag 'map' %>

  </body>
</html>
